:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}
 .app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px; /* Height of the footer */
 }